/*ok i barely use sass... but um. this is here just in case? yeah*/

$grid-breakpoints: (
  /*xxs: 0,
  xs: 374,*/
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

h1, h2
h3, h4
h5, h6
.h1, .h2
.h3, .h4
.h5, .h6 {
  all: initial;
  * {
    all: unset;
  }
}