body {
    color: black;
    background-color: #7c3f88;
    font-family: 'Exo 2', sans-serif;
}
body::before {
    background-image: url("img/grid.svg");
    background-repeat: repeat;
    background-size: 65px;
}

a:link, a:visited {color: purple;}
a:hover, a:active {color: #bb57bb;}

.nav-item a:link,
.nav-item a:visited {color: #f7c420;}
.nav-item a:hover,
.nav-item a:active {color: #e4cfb3;}

.btn {
    font-family: 'Courier New', monospace;
    text-decoration: none;
    color: rgb(200, 200, 200);
}

.btn-outline-dark {color: black;}
.btn-outline-dark:hover {color: white;}