body {
    color: black;
    font-family: 'Exo 2', sans-serif;
}
body::before {
    background-image: url("img/grid.svg");
    background-repeat: repeat;
    background-size: 65px;
}

a:link, a:visited {
	color: purple;
}
a:hover, a:active {
	color: rgb(187, 87, 187);
}
.nav-link a:link,
.nav-link a:visited {
    color: #f7c420;
}
.nav-link a:hover,
.nav-link a:active {
	color: #e4cfb3;
}

.btn {
    font-family: 'Courier New', monospace;
    text-decoration: none;
    color: rgb(200, 200, 200);
}