/*wow. it's a css document! FINALLY some code i understand */



/*----------------Column code-----------*/
/*so basically. just smack on a class="column" onto a div in a row and put the content in that div. ez*/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  box-sizing: border-box;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/*----------------TOPBAR----------------*/
.topbar {
    position: fixed;
    top: 0;
    margin-top: 0px;
    height: 50px;
    width: 100%;
    background-color: #1a001a;
    z-index: 3;
}
/*.topbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}
.topbar a:hover {
	background-color: transparent;
	color: black;
}
.topbar a.active {
	background-color: transparent;
	color: white;
}*/
#topsparkle {
	position: fixed;
	padding: 5px 0px 0px 14px;
}
#topsparkle img {
	width: 30px;
	padding: 4.5px;
}
#topsmol {
	padding: 10px 0px 0px 64px;
	letter-spacing: 2px;
	color: #b5a7ba;
	font-size: 10px;
	font-family: "Courier New", monospace;
	font-weight: normal;
}
/*hr.topleft {
	haha jk i cant figure out hr
}*/
#topmid {
	padding: 3px 0px 0px 64px;
	color: #b5a7ba;
	font-size: 14px;
	font-family: "Courier New", monospace;
	font-weight: bold;
}

#topright {
	position: fixed;
	top: 0;
    margin-top: 0px;
    right: 0;
}

#toprightborder {
	position: absolute;
	border-left: 1.6px solid #b5a7ba;
	border-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(226, 226, 226, 1) 48%, rgba(255, 255, 255, 0) 100%);
	border-image-slice: 1;
	border-image-outset: 1.6px;
	top: 20%;
	bottom: 20%;
}


/* button for opening sidebar */
.indexbtn {
	background-color: transparent;
	color: #b5a7ba;
	padding: 16px 32px;
	font-size: 16px;
	font-family: "Courier New", monospace;
	font-weight: bold;
	border: none;
	cursor: pointer;
}
.indexbtn img {
	position: relative;
	z-index: 1;
	top: 1px;
	filter: invert(74%) sepia(5%) saturate(835%) hue-rotate(239deg) brightness(94%) contrast(83%);
	transition: transform 0.6s ease;
}

/* Dropdown button on hover & focus */
.indexbtn:hover, .indexbtn:focus {
	background-color: #2c112c;
	color: #d7c8dc;
}
.indexbtn:hover img, .indexbtn:focus img {
	filter: invert(89%) sepia(16%) saturate(237%) hue-rotate(237deg) brightness(97%) contrast(78%);
}
.indexbtn:focus img {
	transform: rotate(90deg);
}
/* sidepanel menu*/
.sidepanel {
	height: 100%;
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 5; /* Stay on top */
	top: 50px;
	right: 0;
	background-color: #111;
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 50px;
	transition: 0.6s;
}
.sidepanel .closebtn {
	background-color: transparent;
	position: absolute;
	text-align: center;
	top: 0;
	left: 55px;
	font-size: 36px;
	margin: 0px 50px;
}
/* The sidepanel links */
.sidepanel a {
	background-color: transparent;
	padding: 8px;
	text-decoration: none;
	text-align: center;
	left: 50px;
	font-family: "Courier New", monospace;
	font-weight: 500;
	font-size: 20px;
	display: block;
	color: #9c91a0;
	transition: 0.3s;
}
.sidepanel a:hover {
	color: #b5a7ba;
	font-weight: 550;
}

/*----------------BODY----------------*/
body {
	/*background-image: url("img/bg1.png");*/
	background-color: #792e88;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
	overflow-x: hidden;
	font-family: "Courier New", monospace;
}
#background_wrap {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-image: url("img/bg1.png");
    background-attachment: scroll;
	background-repeat: no-repeat;
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #333;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

#toplights, #toplights img {
	position: fixed;
	z-index: 2;
    width: 100vw !important;
    max-height: 100% !important;
	pointer-events: none;
	transition: top 1s;
}

.topimage, .topimage img {
	display: block;
	z-index: 1;
    width: 70vw;
    max-height: 100%;
	margin: 14vw 8vw 0;
}

.main {
	margin: 0px 30px;
	padding: 10px;
	background-color: #280028;
	display: block;
	padding-bottom: 100px;
	font-family: "Courier New", monospace;
	font-size: 20px;
	line-height: 1.6;
	color: #b5a7ba;
	z-index: 1;
}
.inner {
	margin: auto;
	text-align: center;
	width: 85%;
	padding: 20px 0;
	background-color: transparent;
	z-index: 1;
}
b.inner {
	font-weight: 800;
}
#bigicon, #bigicon img {
	display: block;
	z-index: 1;
	max-height: 100%;
	width: 26rem;
	position: relative;
	border-radius: 10%;
	text-align: center;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  border-radius: 10%;
}

@media screen and (max-width: 700px) {
	.main {
		margin: 0;
	}
	.topimage, .topimage img {
		width: 80vw;
		margin: 12vh 6vw 0;
	}
	.column {
    width: 100%;
	}
}


footer {
	position: absolute;
	bottom: 10px;
	left: 10px;
}